<template>
    <button @click="$emit('click')" :disabled="requestStatus">
        <slot></slot>
    </button>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'Button',
    computed: Object.assign(
        mapGetters({
            requestStatus: 'getRequestStatus'
        }),
        {}
    )
};
</script>

<style lang="scss" scoped>
button {
    width: 80px;
    height: 32px;
    margin: 0 8px;
    padding: 0 8px;
    border: none;
    border-radius: 2px;
    background-color: #1f1f1f;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    &:disabled {
        opacity: 0.7;
        pointer-events: none;
    }
}
</style>
