<template>
    <div class="text-field__wrapper" :class="{ error: error }">
        <div class="text-field__label-wrapper">
            <label v-if="title" :for="name">{{ title }}</label>
            <span v-if="required">*</span>
        </div>
        <input
            :id="name"
            v-model="content"
            type="text"
            :placeholder="placeholder"
            :disabled="disabled"
            class="w-full h-8 bg-white border border-solid border-gray-200 rounded-sm text-sm text-gray-700"
            @change="$emit('input', content)"
            @click="$event.target.select()"
        />
    </div>
</template>

<script>
export default {
    name: 'TextField',
    props: {
        value: {
            type: String,
            required: true
        },
        name: {
            type: String,
            required: true
        },
        title: {
            type: String,
            required: false,
            default: ''
        },
        placeholder: {
            type: String,
            required: false,
            default: ''
        },
        required: {
            type: Boolean,
            required: false,
            default: false
        },
        disabled: {
            type: Boolean,
            required: false,
            default: false
        },
        error: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data: () => {
        return {
            content: ''
        };
    },
    watch: {
        value: function() {
            this.content = this.value;
        }
    },
    created() {
        this.content = this.value;
    }
};
</script>

<style lang="scss" scoped>
.text-field {
    &__wrapper {
        width: 100%;
        margin-bottom: 16px;
        input {
            width: 100%;
            height: 32px;
            margin: 0;
            padding: 0 8px;
            border: 1px solid #ced4da;
            border-radius: 2px;
            color: #495057;
            box-sizing: border-box;
            &::placeholder {
                color: rgba(#495057, 0.7);
            }
            &:focus {
                border-color: #a7cbff;
                box-shadow: 0 0 0 1px rgb(39 129 255 / 25%);
                outline: 0;
            }
        }
        &.error {
            input {
                border-color: #ff6e81;
                box-shadow: 0 0 0 1px rgba(#ff6e81, 0.25);
            }
        }
    }
    &__label-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        label {
            font-size: 14px;
            line-height: 22px;
        }
    }
}
</style>
