<template>
    <div class="registration">
        <img class="logo" src="../../../assets/logo.png" alt="Wunder Mobility" />
        <template v-if="!isLastStep">
            <h1>User Registration</h1>
            <p>Please complete all steps to register</p>
        </template>
        <div class="form">
            <component :is="`step_${currentStep}`" @goPrevStep="goPrevStep" @goNextStep="goNextStep" />
        </div>
    </div>
</template>

<script>
import LandingRegistrationStep_1 from '@/components/landing/registration/steps/LandingRegistrationStep_1';
import LandingRegistrationStep_2 from '@/components/landing/registration/steps/LandingRegistrationStep_2';
import LandingRegistrationStep_3 from '@/components/landing/registration/steps/LandingRegistrationStep_3';
import LandingRegistrationStep_4 from '@/components/landing/registration/steps/LandingRegistrationStep_4';
import { mapGetters } from 'vuex';

export default {
    name: 'LandingRegistration',
    components: {
        step_1: LandingRegistrationStep_1,
        step_2: LandingRegistrationStep_2,
        step_3: LandingRegistrationStep_3,
        step_4: LandingRegistrationStep_4
    },
    computed: Object.assign(
        mapGetters({
            totalSteps: 'getRegistrationTotalSteps'
        }),
        {
            currentStep() {
                return +this.$route.params.current_step;
            },
            isLastStep() {
                return this.currentStep === this.totalSteps;
            },
            prevStep() {
                const prevStep = this.currentStep - 1;
                return prevStep > 0 ? prevStep : null;
            },
            nextStep() {
                const nextStep = this.currentStep + 1;
                return nextStep <= this.totalSteps ? nextStep : null;
            }
        }
    ),
    methods: {
        goPrevStep() {
            if (!this.prevStep) return;
            this.$router.push(`/register/step/${this.prevStep}`);
        },
        goNextStep() {
            if (!this.nextStep) return;
            this.$router.push(`/register/step/${this.nextStep}`);
        }
    }
};
</script>

<style lang="scss">
.registration {
    height: 100vh;
    min-width: 320px;
    min-height: 480px;
    margin: 0;
    padding: 20vh 24px 24px;
    background-color: #ffffff;
    font-size: 16px;
    color: #1f1f1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    img.logo {
        height: 64px;
    }
    h1 {
        font-size: 20px;
        margin: 24px 0 0;
    }
    .form {
        width: 240px;
    }
}
</style>
