<template>
    <div class="registration-step-wrapper">
        <slot />
        <navigation @goPrevStep="$emit('goPrevStep')" @goNextStep="$emit('goNextStep')" />
    </div>
</template>

<script>
import Navigation from '@/components/landing/registration/steps/LandingRegistrationStepNavigation';

export default {
    name: 'LandingRegistrationStep',
    components: {
        Navigation
    }
};
</script>

<style lang="scss" scoped>
.registration-step-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>
