<template>
    <landing-registration-step @goPrevStep="$emit('goPrevStep')" @goNextStep="validate">
        <text-field
            v-model="data.street.value"
            name="street"
            title="Street"
            placeholder="Hongkongstraße"
            :error="data.street.error"
            :required="false"
        />
        <text-field
            v-model="data.houseNumber.value"
            name="house"
            title="House Number"
            placeholder="2-4"
            :error="data.houseNumber.error"
            :required="false"
        />
        <text-field
            v-model="data.zipCode.value"
            name="zipCode"
            title="ZIP Code"
            placeholder="20457"
            :error="data.zipCode.error"
            :required="false"
        />
        <text-field
            v-model="data.city.value"
            name="city"
            title="City"
            placeholder="Hamburg"
            :error="data.city.error"
            :required="false"
        />
    </landing-registration-step>
</template>

<script>
import { DataParse, DataSubmit } from '@/components/landing/registration/registrationMethods';
import TextField from '@/components/shared/TextField';
import LandingRegistrationStep from '@/components/landing/registration/steps/LandingRegistrationStep';

export default {
    name: 'LandingRegistrationStep_2',
    mixins: [DataParse, DataSubmit],
    components: {
        TextField,
        LandingRegistrationStep
    },
    data: () => {
        return {
            dataObject: 'userAddress',
            event: 'setUserAddress',
            data: {
                street: {
                    value: '',
                    error: false
                },
                houseNumber: {
                    value: '',
                    error: false
                },
                zipCode: {
                    value: '',
                    error: false
                },
                city: {
                    value: '',
                    error: false
                }
            }
        };
    },
    methods: {
        validate() {
            this.submit();
        }
    }
};
</script>
