<template>
    <landing-registration-step>
        <img class="logo" v-if="paymentDataId" src="../../../../assets/success.svg" alt="Success" />
        <img class="logo" v-else src="../../../../assets/error.svg" alt="Error" />
        <p>Payment has {{ !paymentDataId ? 'not' : '' }} been sent</p>
        <div v-if="paymentDataId" class="payment-data">
            <p>Payment ID</p>
            <p>{{ paymentDataId }}</p>
        </div>
        <custom-button @click="reset">Reset</custom-button>
    </landing-registration-step>
</template>

<script>
import { mapGetters } from 'vuex';
import CustomButton from '@/components/shared/Button';
import LandingRegistrationStep from '@/components/landing/registration/steps/LandingRegistrationStep';

export default {
    name: 'LandingRegistrationStep_4',
    components: {
        CustomButton,
        LandingRegistrationStep
    },
    computed: Object.assign(
        mapGetters({
            paymentDataId: 'getPaymentDataId'
        }),
        {}
    ),
    methods: {
        reset() {
            this.$store.commit('clearRegistration');
            this.$router.push('/register/step/1');
        }
    }
};
</script>

<style lang="scss" scoped>
.payment-data {
    max-width: 100%;
    word-break: break-all;
    text-align: center;
}
</style>
