<template>
    <div v-if="!isLastStep" class="navigation">
        <custom-button v-if="!isFirstStep" @click="$emit('goPrevStep')">Prev</custom-button>
        <custom-button @click="$emit('goNextStep')">Next</custom-button>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import CustomButton from '@/components/shared/Button';

export default {
    name: 'LandingRegistrationStepNavigation',
    components: {
        CustomButton
    },
    computed: Object.assign(
        mapGetters({
            totalSteps: 'getRegistrationTotalSteps'
        }),
        {
            currentStep() {
                return +this.$route.params.current_step;
            },
            isFirstStep() {
                return this.currentStep === 1;
            },
            isLastStep() {
                return this.currentStep === this.totalSteps;
            }
        }
    )
};
</script>

<style lang="scss" scoped>
.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
}
</style>
