<template>
    <landing-registration-step @goPrevStep="$emit('goPrevStep')" @goNextStep="validate">
        <text-field
            v-model="data.firstName.value"
            name="firstName"
            title="First Name"
            placeholder="Enter your first name"
            :error="data.firstName.error"
            :required="true"
        />
        <text-field
            v-model="data.lastName.value"
            name="lastName"
            title="Last Name"
            placeholder="Enter your last name"
            :error="data.lastName.error"
            :required="true"
        />
        <text-field
            v-model="data.phone.value"
            name="phone"
            title="Phone (9-19 symbols)"
            placeholder="Enter your phone number"
            :error="data.phone.error"
            :required="false"
        />
    </landing-registration-step>
</template>

<script>
import { ValidationRules } from '@/mixins/validation';
import { DataParse, DataSubmit } from '@/components/landing/registration/registrationMethods';
import TextField from '@/components/shared/TextField';
import LandingRegistrationStep from '@/components/landing/registration/steps/LandingRegistrationStep';

export default {
    name: 'LandingRegistrationStep_1',
    mixins: [ValidationRules, DataParse, DataSubmit],
    components: {
        TextField,
        LandingRegistrationStep
    },
    data: () => {
        return {
            dataObject: 'userContacts',
            event: 'setUserContacts',
            data: {
                firstName: {
                    value: '',
                    error: false
                },
                lastName: {
                    value: '',
                    error: false
                },
                phone: {
                    value: '',
                    error: false
                }
            }
        };
    },
    methods: {
        validate() {
            let errors = 0;

            this.data.firstName.error = !this.data.firstName.value.trim().length;
            if (this.data.firstName.error) errors++;

            this.data.lastName.error = !this.data.lastName.value.trim().length;
            if (this.data.lastName.error) errors++;

            this.data.phone.error = Boolean(
                this.data.phone.value.trim().length && !this.phoneRegExp.test(this.data.phone.value.trim())
            );
            if (this.data.phone.error) errors++;

            if (!errors) this.submit();
        }
    }
};
</script>
