<template>
    <landing-registration-step @goPrevStep="$emit('goPrevStep')" @goNextStep="validate">
        <text-field
            v-model="data.owner.value"
            name="owner"
            title="Owner"
            placeholder="Owner Name"
            :error="data.owner.error"
            :required="true"
        />
        <text-field
            v-model="data.iban.value"
            name="iban"
            title="IBAN"
            placeholder="DE89 3704 0044 0532 0130 00"
            :error="data.iban.error"
            :required="true"
        />
    </landing-registration-step>
</template>

<script>
import { DataParse, DataSubmit } from '@/components/landing/registration/registrationMethods';
import TextField from '@/components/shared/TextField';
import LandingRegistrationStep from '@/components/landing/registration/steps/LandingRegistrationStep';

export default {
    name: 'LandingRegistrationStep_3',
    mixins: [DataParse, DataSubmit],
    components: {
        TextField,
        LandingRegistrationStep
    },
    data: () => {
        return {
            dataObject: 'payment',
            event: 'setPayment',
            data: {
                owner: {
                    value: '',
                    error: false
                },
                iban: {
                    value: '',
                    error: false
                }
            }
        };
    },
    created() {
        this.checkUserContacts();
    },
    methods: {
        checkUserContacts() {
            if (this.data.owner.value) return;
            const userContacts = this.$store.getters.getData('userContacts');
            if (userContacts && userContacts.firstName && userContacts.lastName) {
                this.data.owner.value = `${userContacts.firstName} ${userContacts.lastName}`;
            }
        },
        validate() {
            let errors = 0;

            this.data.owner.error = !this.data.owner.value.trim().length;
            if (this.data.owner.error) errors++;

            this.data.iban.error = !this.data.iban.value.trim().length;
            if (this.data.iban.error) errors++;

            if (!errors) this.submit();
        }
    }
};
</script>
